Repository Picture2PC/Picture2PC, pull requests merged in 2024-08, with the labels that each got.

#3 Initial Desktop App Implementation
  common/src/main/kotlin/com/github/picture2pc/common/ui/Picture2PcIcon.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/DesktopApp.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/data/AvailableServersCollector.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/data/impl/MulticastAvailableServersCollector.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/di/Modules.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/main.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/OpenExitTray.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/MainScreen.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/MainWindow.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/serverssection/ServerEntry.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/serverssection/ServerList.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/serverssection/ServersSectionView.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/viewmodel/ServersSectionViewModel.kt
Labels: desktop

#16 DESKTOP (tooltips) | Added tooltips to all IconButtons
  desktop/src/main/kotlin/com/github/picture2pc/desktop/data/imageprep/impl/PicturePreparationImpl.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/constants/Descriptions.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/MainScreen.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/elements/Tooltip.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/imagemanupulation/ImageManipulationButtons.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/imagemanupulation/elements/GeneralButton.kt
Labels: enhancement, desktop

#15 DESKTOP (picture_rotation) | rotation now works properly, clicking po…
  android/src/main/kotlin/com/github/picture2pc/android/ui/main/camerascreen/elements/PictureButtons.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/data/Rotation States.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/data/imageprep/PicturePreparation.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/interactionhandler/clickHandler.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/ui/main/MainScreen.kt
  desktop/src/main/kotlin/com/github/picture2pc/desktop/viewmodel/picturedisplayviewmodel/PictureDisplayViewModel.kt
Labels: bug, desktop
